@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Unna;
    src: url(./assets/Unna/Unna-Bold.ttf)
}

@font-face {
  font-family: Rubik;
  src: url(./assets/Rubik/Rubik-Regular.ttf);
}

.font-unna {
    font-family: Unna;
}

.font-rubik {
  font-family: Rubik;
}

.font-rubikBold {
  font-family: Rubik;
  font-weight: 500;
}


body {
    margin : 0;
    background-color: #ACE2E1;
    font-family: 'Unna', 'Rubik', 'RubikBold';
}

@keyframes glowing-animation {
  0% {
    text-shadow: 0 0 0 rgba(254, 239, 173, 0);
  }
  50% {
    text-shadow: 0 0 15px rgba(255, 199, 0, 0.5); 
  }
  100% {
    text-shadow: 0 0 50px rgba(253, 222, 85, 0.8), 0 0 60px rgba(253, 222, 85, 0.6), 0 0 75px rgba(253, 222, 85, 0.4); 
  }
}

.glowing {
  animation: glowing-animation 4s infinite alternate;
}

.animate-gradient-preference {
  animation: gradient-animation-preference 5s ease infinite alternate;
  background-size: 200% 200%;
}

@keyframes gradient-animation-preference {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.animate-gradient-preference {
  animation: gradient-animation-preference 5s ease infinite alternate;
  background-size: 200% 200%;
  background-image: linear-gradient(to right, #281E18, #000005);
}

.card{
  border-image: linear-gradient(to right, #754600, #F7EF8A 70%, #754600) 1;
}






  